{% extends "base.html" %} {% load static %} {% block title %}Книги за {{
current_date }}{% endblock %} {% block content %}
<div class="container">
  <div class="header">
    <h1><a href="{% url 'books' %}">Каталог</a></h1>
  </div>
  <div class="row">
    {% for book in books %}
    <div class="book col-md-4">
      <h2>{{ book.name }}</h2>
      <p>Автор: {{ book.author }}</p>
      <p>Дата публикации: {{ book.pub_date|date:"Y-m-d" }}</p>
    </div>
    {% endfor %}
  </div>

  <div class="pagination" style="display: flex; gap: 20px; align-items: center">
    {% if prev_date %}
    <a
      href="{% url 'books_by_date' prev_date|date:'Y-m-d' %}"
      style="margin-right: 20px"
    >
      ← {{ prev_date|date:"Y-m-d" }}
    </a>
    {% endif %}

    <span class="current" style="margin: 0 10px"> {{ current_date }} </span>

    {% if next_date %}
    <a
      href="{% url 'books_by_date' next_date|date:'Y-m-d' %}"
      style="margin-left: 20px"
    >
      {{ next_date|date:"Y-m-d" }} →
    </a>
    {% endif %}
  </div>
</div>
{% endblock %}
